<h2>Bienvenue !</h2>

<label for="name">Entrez votre nom : </label>
<input id="name" type="text" [formControl]="user">
<button (click)="show_recipe()">Go !</button>

<label for="name">Votre recette : </label>
 <div *ngFor="let rec of recipe">
   <h3>
      {{ rec }}
  </h3>
</div>



<label for="name">Votre frigo : </label>
<div *ngFor="let ingr of ingredients">
  <h3>
	 <button (click)="delete_ingr(ingr.name)">delete</button> {{ ingr.name }}
 </h3>
</div>

<input id="name" type="text" [formControl]="new_ingredient">
<label for="name">Ajouter un ingredients : </label>
<button (click)="add_ingr()">Go !</button>
