<h2>Nos ingredients !</h2>

 <div *ngFor="let ingredient of ingredients">
   <h3>
      {{ ingredient.name }}
  </h3>
</div>

<label for="name">Proposer un ingredient </label>
<input id="name" type="text" [formControl]="new_ingredient">


<button (click)="add_ingredient()">Go !</button>
