<h2>Nos recette !</h2>

 <div *ngFor="let re of recipe">
   <h3>
      {{ re.name }}
  </h3>
</div>

<label for="name">Proposer une recette </label>
<input id="name" type="text" [formControl]="new_recipe">


<button (click)="add_recipe()">Go !</button>
