<h2>Liste des utilisateurs !</h2>

 <div *ngFor="let user of users">
   <h3>
      {{ user.firstname }} {{ user.lastname }} {{ user.email }}
  </h3>
</div>

<label for="name">Ajouter un utilisateur : </label>
<input id="name" type="text" [formControl]="add_user_name">
<input id="email" type="text" [formControl]="add_user_email">
<input id="password" type="password" [formControl]="add_user_pass">
<input id="firstname" type="text" [formControl]="add_user_firstname">

<button (click)="add_user()">Go !</button>


<div *ngFor="let ingr of ingredients">
  <h3>
	 {{ ingr.name }}
 </h3>
</div>

<label for="name">Afficher les ingredients : </label>
<input id="name_show" type="text" [formControl]="show_user_name">
<button (click)="show_user()">Go !</button>
